<div class="container ">
    <div class=" row d-flex justify-content-center">
        <div class="items col-3 mx-4  mb-3 ">
            <div class=" image col-6 mb-3 ">
                <img [src]="detail_drink.strDrinkThumb" alt="Pic">
            </div>
            <div class=" details col-5 p-4">
                <div class="name mb-1">{{detail_drink.strDrink}}</div>
                <div class="glass-type  mb-1">{{detail_drink.strCategory}}</div>
                <div class="drink-type mb-2"> {{detail_drink.strAlcoholic}}</div>
            </div>
        </div>
    </div>
</div>